* {
  box-sizing: border-box;
}
body {
  background-color: #71b9e7;
}
.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #fff;
  font-size: 3em;
}
.pic-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  .pic-pig {
    position: absolute;
    top: 125px;
  }
  .pic-phone {
    position: absolute;
  }
  .pic-book {
    position: absolute;
    top: 204px;
    z-index: 0;
  }
  .pic-txt {
    position: absolute;
    top: 50px;
    margin-right: 500px;
    margin-top: 100px;
    text-align: end;
    z-index: -1;
    ::after {
      content: "";
      width: 370px;
      position: absolute;
      top: 10px;
      left: calc(100% + 10px);
      height: 1px;
      background-color: rgba(221, 221, 221, 0.8);
    }
  }
  .pic-txt2 {
    position: absolute;
    top: 50px;
    margin-top: 100px;
    margin-left: 682px;
    text-align: start;
  }
  margin-bottom: 600px;
}
